.#{$utilityClass}-text {
    &-bold {
        font-weight: 500;
    }

    &-center {
        text-align: center;
    }

    &-normal {
        font-weight: 300;
    }

    &-nowrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-italic {
        font-style: italic;
    }

    &-small {
        font-size: $font-size-xs;
    }
}
